<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookeasy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".foodUpdate"></activity>
        <activity android:name=".food_list" />
        <activity android:name=".orderFood" />
        <activity android:name=".foodHome" />
        <activity android:name=".updateBookingT" />
        <activity android:name=".startBooking" />
        <activity android:name=".viewBookings" />
        <activity android:name=".start" />
        <activity android:name=".confirmedBooking" />
        <activity android:name=".Profile" />
        <activity android:name=".Delete" />
        <activity android:name=".ResetPassword" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity android:name=".appHome" />
        <activity android:name=".roomHome" />
        <activity android:name=".updateBooking" />
        <activity android:name=".roomBookList" />
        <activity android:name=".bookRoom" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>